<ng-include src="'views/navbar.html'"></ng-include>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div id="car" class="d-flex flex-wrap">
                <div class="card product-container" ng-repeat="product in products">
                    <div class="card-block">
                        <h4 class="card-title">{{product.name}}</h4>
                        <p class="card-text">{{product.description}}</p>
                    </div>
                    <div class="card-footer product-container-footer d-flex w-100 justify-content-between">
                        <div class="form-group row">
                            <label for="example-number-input" class="col-3 col-form-label">Qtd.:</label>
                            <div class="col-5">
                                <input class="form-control" type="number" value="{{ qtd }}" ng-model="qtd">
                            </div>
                        </div>
                        <p>$ {{product.price * qtd}}</p>
                    </div>
                    <div class="d-flex w-100">
                        <button class="col-8 offset-2 btn btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <button class="col-6 offset-3 btn btn-success">Finalizar pedido</button>
    </div>
</div>