<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navbar navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
    <a class="navbar-brand" ng-href="#!/home">.lolipop</a>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/signout">Sign Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/car">Cart</a>
            </li>
        </ul>
    </div>
</nav>