<div class="container signup-container">
  <h1 class="signup-container-heading">Sign Up</h1>
  <form>
    <div class="form-group">
      <label for="inputFullname">Fullname</label>
      <input id="inputFullname" type="text" class="form-control" placeholder="Fullname" ng-model="user.fullname">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input id="inputEmail" type="email" class="form-control" placeholder="Email" ng-model="user.email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input id="inputPassword" type="password" class="form-control" placeholder="Password" ng-model="user.password">
    </div>
    <div class="form-group">
      <label for="inputPasswordConfirm">Password Confirm</label>
      <input id="inputPasswordConfirm" type="password" class="form-control" placeholder="Password Confirm" ng-model="user.passwordConfirm">
    </div>
    <div class="form-group">
      <label for="inputPhone">Phone</label>
      <input id="inputPhone" type="tel" class="form-control" placeholder="Phone" ng-model="user.phone">
    </div>
    <div class="form-group">
      <label for="selectGender">Gender</label>
      <select id="selectGender" class="form-control" ng-model="user.gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <ng-include src="'views/messenger.html'"></ng-include>
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="create()">Create New Account</button>
  </form>
  <a role="button" class="btn btn-secondary btn-lg btn-block" ng-href="#!/signin">Back</a>
</div>