@charset "utf-8";

body {
  padding-top: 70px;
}

#message {
  max-width: 330px;
  margin: 15px 10px;
}

.signin-form, .signup-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.signin-form .signin-form-heading, .signup-form .signup-form-heading {
    margin-bottom: 15px;
}