@charset "utf-8";

body {
  padding-top: 70px;
}

form {
  margin-bottom: 15px;
}

#messenger {
  max-width: 330px;
  margin: 15px auto;
}

.signin-container, .signout-container, .signup-container {
    max-width: 330px;
}

.signin-container, .signout-container, .signup-container, 
.profile-container, .addresses-container {
    padding: 15px;
    margin: 0 auto;
}

.signin-container .signin-container-heading, .signout-container .signout-container-heading, 
.signup-container .signup-container-heading, .profile-container .profile-container-heading, 
.addresses-container .addresses-container-heading {
    margin-bottom: 15px;
}

.product-container {
    max-width: 288px;
    margin: 15px auto;
}

.product-container-footer {
    background-color: unset;
    border-top: unset;
}